body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.main-screen {
  overflow: hidden;
}

.fp-watermark {
  display: none;
}

.main-screen {
  min-height: 70vw;
  background: url("../img/ms.png");
  background-size: 100vw;
  background-position: center top -12vw;
  background-repeat: no-repeat;
  position: relative;
}

.right-hill {
  position: absolute;
  right: -2vw;
  width: 32.5vw;
  top: 4vw;
}

.left-hill {
  position: absolute;
  left: 0;
  width: 33.125vw;
  top: -1vw;
}

.trees {
  width: 100%;
  position: absolute;
  left: 0;
  top: 28.5vw;
}

.tree {
  position: absolute;
  top: 2vw;
  left: -6.444vw;
  z-index: 2;
  width: 31.458vw;
}

.fisherman {
  position: absolute;
  right: 0;
  width: 96.458vw;
  top: 39vw;
}

.big-fishermen {
  width: 29.167vw;
  position: absolute;
  left: 50vw;
  top: 25.5vw;
}

.raft {
  width: 16vw;
  position: absolute;
  left: 45.347vw;
  top: 33.5vw;
}

.left-fisherman {
  top: 31vw;
  left: -3.2vw;
  position: absolute;
  width: 34.722vw;
}

.girl-ilend {
  position: absolute;
  left: -2vw;
  top: 31vw;
  width: 26.597vw;
}

.grass {
  position: absolute;
  bottom: 0vw;
  width: 100%;
}

.section {
  overflow: hidden;
}

.anchor1 {
  height: 70vw;
  position: relative;
  z-index: 6;
}

.anchor2 {
  height: auto;
  min-height: 100vh;
}

.anchor3 {
  height: auto;
  min-height: 100vh;
  position: relative;
}

.anchor4 {
  height: auto;
  min-height: 100vh;
  position: relative;
}

.anchor5 {
  height: 40vw;
  position: relative;
}

.logo {
  position: absolute;
  left: 11vw;
  top: 0.75vw;
  z-index: 4;
}

.logo img {
  width: 4.861vw;
}

.main-title {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  margin-left: 23.958vw;
  font-family: "Rubik", sans-serif;
  padding-top: 2vw;
  text-transform: uppercase;
}

.main-title__blue {
  font-size: 4.375vw;
  font-weight: 500;
  color: #1ECDF5;
  display: block;
  line-height: 0.9;
}

.main-title__big {
  font-size: 8.750vw;
  font-weight: 700;
  line-height: 0.85;
}

.main-title.anim {
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}

.for {
  margin-left: -3vw;
}

.echt {
  margin-left: -2.5vw;
}

.main-screen__text {
  font-size: 1.111vw;
  width: 50vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-screen__content {
  position: relative;
  z-index: 99;
}

.main-screen__text--bold {
  font-weight: 800;
  display: block;
}

.main-screen__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vw;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.500vw;
  height: 3.472vw;
  font-size: 0.972vw;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, from(#1e202a), color-stop(0.6%, #1e202a), to(#323439));
  background: -o-linear-gradient(#1e202a 0%, #1e202a 0.6%, #323439 100%);
  background: linear-gradient(#1e202a 0%, #1e202a 0.6%, #323439 100%);
  color: #fff;
  border-radius: 1.736vw;
  margin: 0 1.250vw;
  line-height: 0.7;
}

.button:hover {
  color: #fff;
  opacity: 0.89;
}

.button--white {
  background: #fff;
  border: 0.208vw solid #5fc9f0;
  color: #18CCF5;
}

.button--white:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#65d6ee), to(#3cc6e3));
  background: -o-linear-gradient(#65d6ee 0%, #3cc6e3 100%);
  background: linear-gradient(#65d6ee 0%, #3cc6e3 100%);
  border: none;
  opacity: 1;
}

.mobile-menu {
  display: none;
}

.bubles {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bubles img {
  width: 33vw;
  margin-left: -10vw;
}

.bubles {
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-transform: scale(4);
      -ms-transform: scale(4);
          transform: scale(4);
}

.bubles.anim {
  -webkit-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
  -webkit-transform: scale(5) translateY(-47%);
      -ms-transform: scale(5) translateY(-47%);
          transform: scale(5) translateY(-47%);
}

.all-content {
  background: url("../img/main-bg.png");
  background-size: 100vw;
  background-position: top 57vw center;
  background-repeat: no-repeat;
}

.footer {
  background: url("../img/footer.png");
  background-size: 110vw;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 4.306vw;
}

.hooks {
  position: absolute;
  top: -11vw;
  left: 8.2vw;
  width: 59.2vw;
}

.aquawomen {
  position: absolute;
  top: 5vw;
  left: 19vw;
  width: 23.125vw;
  z-index: 2;
}

.fish {
  position: absolute;
  top: 39vw;
  left: 10.5vw;
  width: 12.639vw;
  z-index: 2;
}

.fishes {
  position: absolute;
  left: 6.944vw;
  top: 5vw;
  width: 80.486vw;
}

.section-content {
  color: #fff;
  z-index: 10;
  width: 43.056vw;
}

.section-content__text {
  font-size: 1.250vw;
}

.section-content__text p {
  margin-bottom: 1.2vw;
}

.h2 {
  font-size: 2.153vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: "Rubik", sans-serif;
}

.section-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
}

.section-content__link img {
  display: block;
  margin-left: 0.25vw;
}

.section-content__link:hover {
  color: #fff;
}

.about .section-content {
  top: 10vw;
  left: 52.708vw;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.line__text {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #2F2E41;
  font-size: 2.778vw;
  -webkit-transform: rotate(-90deg) translateX(50%) translateY(-130%);
      -ms-transform: rotate(-90deg) translateX(50%) translateY(-130%);
          transform: rotate(-90deg) translateX(50%) translateY(-130%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.line.active {
  height: 100%;
}

.line {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0vh;
  background: #2F2E40;
  width: 0.139vw;
  -webkit-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

.line2 {
  position: absolute;
  top: 0vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0vh;
  background: #2F2E40;
  width: 0.139vw;
  -webkit-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

.line3 {
  position: absolute;
  top: 0vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0vh;
  background: #2F2E40;
  width: 0.139vw;
  -webkit-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

.line4 {
  position: absolute;
  top: 0vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0vh;
  background: #2F2E40;
  width: 0.139vw;
  -webkit-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

.line.normalHeight {
  height: 90%;
}

.line2.normalHeight {
  height: 90%;
}

.line3.normalHeight {
  height: 37.5vw;
}

.line4.normalHeight {
  height: 7vw;
}

.line.fullHeight {
  height: 101%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.line2.fullHeight {
  height: 101%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.line3.fullHeight {
  height: 101%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.line4.fullHeight {
  height: 101%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.next-section {
  position: absolute;
  bottom: 1vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.next-section a {
  color: #2F2E41;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.next-line {
  height: 1.667vw;
  width: 0.139vw;
  background: #2F2E41;
  margin-top: 0.2vw;
}

.next-section:hover {
  -webkit-transform: translateX(-50%) scale(1.1);
      -ms-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}

.slideRight {
  -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.slideLeft {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.slideUp {
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.why-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9.653vw;
}

.why-section .line__text {
  -webkit-transform: rotate(90deg) translateY(40%);
      -ms-transform: rotate(90deg) translateY(40%);
          transform: rotate(90deg) translateY(40%);
}

.why-section .section-content {
  width: 39.653vw;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.why-section .section-content.slideWhy {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.loop-fish {
  position: absolute;
  width: 63.125vw;
  left: 0vw;
  top: 3vw;
}

.loop {
  position: absolute;
  top: -13vw;
  right: -33vw;
  width: 80vw;
  z-index: 9;
}

.loop.slideLoop {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.hooks {
  position: fixed;
  z-index: 1;
}

.hooks img {
  width: 1.4vw;
  opacity: 1;
}

.hook1 {
  position: absolute;
  top: -33vw;
  left: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.hook2 {
  position: absolute;
  top: -14vw;
  left: 9.514vw;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.hook3 {
  position: absolute;
  top: -39vw;
  left: 23.403vw;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.hook4 {
  position: absolute;
  top: -43vw;
  left: 62.083vw;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.hooks.hooks-why .hook1 {
  top: -5vw;
  opacity: 0.5;
}

.hooks.hooks-why .hook2 {
  top: -28vw;
  opacity: 0.5;
}

.hooks.hooks-why .hook3 {
  top: -12vw;
  opacity: 0.5;
}

.hooks.hooks-why .hook4 {
  top: -40vw;
  opacity: 0.5;
}

.hooks.hooks-sharks .hook1 {
  top: -30vw;
  opacity: 0.3;
}

.hooks.hooks-sharks .hook2 {
  top: -20vw;
  opacity: 0.3;
}

.hooks.hooks-sharks .hook3 {
  top: -25vw;
  opacity: 0.3;
}

.hooks.hooks-sharks .hook4 {
  top: -40vw;
  opacity: 0.3;
  top: -18vw;
}

.hooks.hooks-footer .hook1 {
  top: -40vw;
  opacity: 0.3;
}

.hooks.hooks-footer .hook2 {
  top: -38vw;
  opacity: 0.3;
}

.hooks.hooks-footer .hook3 {
  top: -50vw;
  opacity: 0.3;
}

.hooks.hooks-footer .hook4 {
  opacity: 0.3;
  top: -45vw;
}

.list-item {
  margin-bottom: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item img {
  display: block;
  margin-right: 2.292vw;
}

.shark {
  position: absolute;
  top: 17vw;
  left: 41vw;
  width: 9.167vw;
}

.sharks-fishes {
  position: absolute;
  left: 25vw;
  top: 10vw;
  width: 27.778vw;
}

.sharks-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 9.722vw;
  position: relative;
}

.sharks-section .section-content {
  width: 37.500vw;
  position: relative;
  z-index: 1;
}

.ho {
  position: absolute;
  top: 37vw;
  left: 50vw;
  width: 1.699vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.rif {
  position: absolute;
  left: -38.3vw;
  bottom: -36.708vw;
  width: 112.014vw;
}

.rif1 {
  position: absolute;
  bottom: -20.125vw;
  left: -23.042vw;
  width: 55vw;
}

.sharks-wrapper {
  overflow: hidden;
}

.sharks {
  width: 68.056vw;
  position: absolute;
  top: 0vw;
  left: -2vw;
}

.rif-fish {
  position: absolute;
  right: -15vw;
  bottom: -18vw;
  width: 87.708vw;
}

.footer {
  position: relative;
  padding-left: 6.944vw;
  padding-right: 6.944vw;
}

.treausers {
  position: absolute;
  right: 6.944vw;
  top: 0;
  width: 31.319vw;
}

.seaweed {
  position: absolute;
  top: -5vw;
  left: 26vw;
  width: 13.403vw;
}

.hedgehog-fish {
  position: absolute;
  left: 45.6%;
  width: 10vw;
}

.seaweeds2 {
  width: 40.278vw;
  right: -5vw;
  bottom: -7vw;
  position: relative;
}

.seaweeds-wrapper {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer__content {
  width: 58.611vw;
  padding-top: 15vw;
}

.footer__content p {
  font-size: 1.250vw;
  margin-bottom: 1.910vw;
}

.footer__title {
  font-size: 3.472vw;
  font-weight: 700;
  margin-bottom: 1.389vw;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  padding-top: 6vw;
  font-size: 0.972vw;
}

.footer__link {
  text-decoration: none;
  color: #2A2C36;
  margin-left: 3.472vw;
}

.footer__link:hover {
  color: #2A2C36;
}

.section-content__link {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.section-content__link.fade {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.sharks-section .section-content p,
.sharks-section .section-content .h2 {
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  position: relative;
  z-index: 10;
}

.sharks-section .section-content p.slideShark,
.sharks-section .section-content .h2.slideShark {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.seaweed {
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.seaweed.scale {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.footer .footer__title,
.footer .button {
  -webkit-transform: translateX(-55vw);
      -ms-transform: translateX(-55vw);
          transform: translateX(-55vw);
  -webkit-transition: all 2.5s;
  -o-transition: all 2.5s;
  transition: all 2.5s;
}

.footer .footer__title.slide,
.footer .button.slide {
  -webkit-transform: translateX(0vw);
      -ms-transform: translateX(0vw);
          transform: translateX(0vw);
}

.mobile-fish {
  display: none;
}

.tr {
  display: none;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy svg {
  width: 1.111vw;
  margin-right: 0.7vw;
  fill: #2a2c36;
}

.next-section {
  z-index: 999;
}

.section-content__link:hover {
  text-decoration: underline;
}

.sub-title {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 1.111vw;
  color: #2f2e41;
  line-height: 1;
}

/* width */
