@import "variables";

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    overflow: hidden;
}
//start main screen style
.main-screen {
    //min-height: 100vh;
    overflow: hidden;
}
//end main screen style



.fp-watermark {
    display: none;
}
.main-screen {
    min-height: 70vw;
    //overflow: hidden;
    background: url('../img/ms.png');
    background-size: 100vw;
    background-position: center top -11vw;
    background-repeat: no-repeat;
    position: relative;
    //overflow: hidden;
}
.right-hill {
    position: absolute;
    right: -2vw;
    width: 32.5vw;
    top: 4vw;
}
.left-hill {
    position: absolute;
    left: 0;
    width: 33.125vw;
    top: -1vw;
}
.trees {
    width: 100%;
    position: absolute;
    left: 0;
    top: 28.5vw;
}
.tree {
    position: absolute;
    top: 2vw;
    left: -6.444vw;
    z-index: 2;
    width: 31.458vw;
}
.fisherman {
    position: absolute;
    right: 0;
    width: 96.458vw;
    top: 39vw;
}
.big-fishermen {
   width: 29.167vw; 
   position: absolute;
   left: 50vw;
   top: 23.5vw;
}
.raft {
    width: 16vw;
    position: absolute;
    left: 45.347vw;
    top: 33.5vw;
}
.left-fisherman {
    top: 31vw; 
    left: -3.2vw;
    position: absolute;
    width: 34.722vw;
}
.girl-ilend {
    position: absolute;
    left: -2vw;
    top: 31vw;
    width: 26.597vw;
}
.grass {
    position: absolute;
    bottom: 0vw; 
    width: 100%;
}
.section {
    overflow: hidden;
   // height: 100vh;
}

.anchor1 {
    height: 70vw;
    position: relative;
    z-index: 6;
   
}
.anchor2 {
    height: auto;
    min-height: 100vh;
}
.anchor3 {
   height: auto;
   min-height: 100vh;
   position: relative;
}
.anchor4 {
    height: auto;
    min-height: 100vh;
    position: relative;
}
.anchor5 {
    height: 40vw;
    position: relative;
}
.logo {
    position: absolute;
    left: 11vw;
    top: 0.75vw;
    z-index: 4;
    img {
        width: 4.861vw;
    }
}
.main-title {
    //text-align: center;
    font-size: 5vw;
    margin-left: 27vw;
    margin-right: auto;
    display: block;
    width: 61vw;
    padding-top: 3vw;
    transition: all 1s;

}
.main-title.anim {
    transform: translateY(-20%);
    //transition: all 1s;

}

.main-title__big {
    font-size: 11vw;
    line-height: 0.5;
    font-weight: 700;
}
.main-title__big--left {
    margin-left: 1.5vw;
}
.main-title__big--first {
    margin-left: -2vw;
}
.for {
    margin-left: -3vw;
}
.echt {
    margin-left: -2.5vw;
}
.main-screen__text {
    font-size: 1.111vw;
    width: 50vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.main-screen__content {
    position: relative;
    z-index: 99;
}
.main-screen__text--bold {
    font-weight: 800;
    display: block;
}
.main-screen__buttons {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.500vw;
    height: 3.472vw;
    font-size: 0.972vw;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $secondary-font;
    font-weight: 500;
    background: #1E202A;
    color: #fff;
    border-radius: 1.736vw;
    margin: 0 1.250vw;
    line-height: 0.7;
}
.button:hover {
    color: #fff;
}
.button--white {
    background: #fff;
    border: 0.208vw solid #5fc9f0;
    color: $blue;
    transition: all 0.3s;
}
.button--white:hover {
    background: $dark-blue;
    border-color: $dark-blue;
}
.mobile-menu {
    display: none;
}
.bubles {
    position: absolute;
    width: 100%;
    //transform: translateY(-100%);
    z-index: 999;
    top: 100%;
    //overflow: hidden;
    display: flex;
    justify-content: center;
    img {
        width: 33vw;
        margin-left: -10vw;
    }
}
.bubles {
    transition: all 2s;
    transform: scale(4); 

    
    img {
        //min-width: 250vw;
       //transform: scale(2);
    }
        


}

.bubles.anim {
    transition: all 5s;
    transform: scale(5) translateY(-47%); 
      
}

.all-content {
    background: url('../img/main-bg.png');
    background-size: cover;
    background-position: top 44vw center;
    background-repeat: no-repeat;
}
.footer {
    background: url('../img/footer.png');
    background-size: 110vw;
    background-position: bottom center;
    background-repeat: no-repeat;
}
//start about style
.about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4.306vw;
}
.hooks {
    position: absolute;
    top: -11vw;
    left: 8.2vw;
    width: 59.2vw;
}
.aquawomen {
    position: absolute;
    top: 5vw;
    left: 19vw;
    width: 23.125vw;
    z-index: 2;
}
.fish {
    position: absolute;
    top: 39vw;
    left: 10.5vw;
    width: 12.639vw;
    z-index: 2;
}
.fishes {
    position: absolute;
    left: 6.944vw;
    top: 5vw;
    width: 80.486vw;
}
.section-content {
    color: #fff;
    //position: absolute;
    z-index: 10;
    width: 43.056vw;
}
.section-content__text {
    font-size: 1.250vw;
    p {
        margin-bottom: 1.2vw;
    }
}
.h2 {
    font-size: 2.569vw;
    font-weight: 700;
}
.section-content__link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    img {
        display: block;
        margin-left: 0.25vw;
    }
}
.section-content__link:hover {
    color: #fff;
}
.about {
    .section-content {
       // position: absolute;
        top: 10vw;
        left: 52.708vw;
        transition: all 2s;
    }
}

.line__text {
    font-family: $secondary-font;
    font-weight: 500;
    color: $dark-text;
    font-size: 2.778vw;
    transform: rotate(-90deg) translateX(50%) translateY(-130%);
    position: absolute;
    top: 50%;
    left: 50%;

}
.line.active {
    height: 100%;
}
.line {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0vh;
    background: #2F2E40;
    width: 0.139vw;
    transition: all 4s;
}
.line2 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    height: 0vh;
    background: #2F2E40;
    width: 0.139vw;
    transition: all 4s;
}
.line3 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    height: 0vh;
    background: #2F2E40;
    width: 0.139vw;
    transition: all 4s;
}
.line4 {
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    height: 0vh;
    background: #2F2E40;
    width: 0.139vw;
    transition: all 4s;
}

.line.normalHeight {
    height: 90%;
   // transition: all 2s;
}
.line2.normalHeight {
    height: 90%;
    //transition: all 2s;
}
.line3.normalHeight {
    height: 37.5vw;
   // transition: all 1s;
}
.line4.normalHeight {
    height: 7vw;
  //  transition: all 1s;
}
.line.fullHeight {
    height: 101%;
    transition: all 0.5s;
}

.line2.fullHeight {
    height: 101%;
    transition: all 0.5s;
}
.line3.fullHeight {
    height: 101%;
    transition: all 0.5s;
}
.line4.fullHeight {
    height: 101%;
    transition: all 0.5s;
}
.next-section {
    position: absolute;
    bottom: 1vw; 
    left: 50%;
    transform: translateX(-50%); 
    font-weight: 600;
    transition: all 0.5s;
   
    a {
        color: $dark-text;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.next-line {
    height: 1.667vw;
    width: 0.139vw;
    background: $dark-text;
    margin-top: 0.2vw;
}
.next-section:hover {
    transform: translateX(-50%) scale(1.1);

}
.slideRight {
    transform: translateX(110%);
    transition: all 2s;
}
.slideLeft {
    transform: translateX(-120%);
    transition: all 2s;

}
.slideUp {
    transform: translateY(-120%);
    transition: all 2s;

}
//end about style

//start why-section style
.why-section {
    display: flex;
    align-items: center;
    padding-left: 9.653vw;
    .line__text {
        transform: rotate(90deg) translateY(40%);
    }
    .section-content {
       width: 39.653vw;
       transform: translateX(-120%);
       transition: all 2s;
    }
    .section-content.slideWhy {
       
        transform: translateX(0%);
        transition: all 2s;
     }
}
.loop-fish {
    position: absolute;
    width: 63.125vw;
    left: 0vw;
    top: 3vw;
    //transform: translateX(-50%);
    //transition: all 2s;
}
.loop-fish.slideFish {
   // transform: translateY(0%);
    //transition: all 2s;
}
.loop {
    position: absolute;
    top: -12vw;
    right: -30vw;
    width: 80vw;
   // transition: all 2.5s;
   // transform: translateX(100%);
}
.loop.slideLoop {
    transform: translateX(0%);
}
//end  why-section style

.hooks {
    position: fixed;
    z-index: 1;
    img {
        width: 1.4vw;
        opacity: 1;
    }
}
.hook1 {
    position: absolute;
    top: -33vw;
    left: 0;
    transition: all 2s;
}
.hook2 {
    position: absolute;
    top: -14vw;
    left: 9.514vw;
    transition: all 2s;
}
.hook3 {
    position: absolute;
    top: -39vw;
    left: 23.403vw;
    transition: all 2s;
}
.hook4 {
    position: absolute;
    top: -43vw;
    left: 62.083vw;
    transition: all 2s;
}
.hooks.hooks-why {
    .hook1 {
        top: -5vw;
        opacity: 0.5;
    }
    .hook2 {
        top: -28vw;
        opacity: 0.5;
    }
    .hook3 {
        top: -12vw;
        opacity: 0.5;
    }
    .hook4 {
        top: -40vw;
        opacity: 0.5;
    }
}

.hooks.hooks-sharks {
    .hook1 {
        top: -30vw;
        opacity: 0.3;
    }
    .hook2 {
        top: -20vw;
        opacity: 0.3;
    }
    .hook3 {
        top: -25vw;
        opacity: 0.3;
    }
    .hook4 {
        top: -40vw;
        opacity: 0.3;
        top: -18vw;
    }
}

.hooks.hooks-footer {
    .hook1 {
        top: -32vw;
        opacity: 0.3;
    }
    .hook2 {
        top: -22vw;
        opacity: 0.3;
    }
    .hook3 {
        top: -40vw;
        opacity: 0.3;
    }
    .hook4 {
        opacity: 0.3;
        top: -35vw;
    }
}
.list-item {
    margin-bottom: 1vw;
    display: flex;
    align-items: center; 
    img {
        display: block;
        margin-right: 2.292vw;
    }
}
.shark {
    position: absolute;
    top: 17vw;
    left: 41vw;
    width: 9.167vw;
}
.sharks-fishes {
    position: absolute;
    left: 25vw;
    top: 10vw;
    width: 27.778vw;
}
//start sharks section style
.sharks-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 9.722vw;
    position: relative;
    .section-content {
        width: 37.500vw;
        position: relative;
        z-index: 1;
    }
}
.ho {
    position: absolute;
    top: 37vw;
    left: 50vw;
    width: 1.699vw;
    transform: translateX(-50%);
}
.rif {
    position: absolute;
    left: -40.278vw;
    bottom: -36.708vw;
    width: 112.014vw;
}
.rif1 {
    position: absolute;
    bottom: -20.125vw;
    left: -23.042vw;
    width: 55vw;
}
.sharks-wrapper {
    overflow: hidden;
}
.sharks {
    width: 68.056vw;
    position: absolute;
    top: 0vw; 
    left: -2vw;
}
.rif-fish {
    position: absolute;
    right: -15vw;
    bottom: -18vw;
    width: 87.708vw;
}
//end sharks section style

.footer {
    position: relative;
    padding-left: 6.944vw;
    padding-right: 6.944vw;
    
    
}
.treausers {
    position: absolute;
    right: 6.944vw;
    top: 0;
    width: 31.319vw;
}
.seaweed {
    position: absolute;
    top: -5vw;
    left: 26vw;
    width: 13.403vw;
}
.hedgehog-fish {
    position: absolute;
    left: 45.6%;
    //transform: translateX(-42%);
    width: 10vw;
}
.seaweeds2 {
    width: 40.278vw;
    right: -5vw;
    bottom: -7vw;
    position: relative;
   
}
.seaweeds-wrapper {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;

}
.footer__content {
    width: 58.611vw;
    padding-top: 15vw;
    p {
        font-size: 1.250vw;
        margin-bottom: 1.910vw;
    }
}
.footer__title {
    font-size: 3.472vw;
    font-weight: 700;
    margin-bottom: 1.389vw;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-top: 6vw;
    font-size: 0.972vw;
}
.footer__link {
    text-decoration: none;
    color: #2A2C36;
    margin-left: 3.472vw;
}
.footer__link:hover {
    color: #2A2C36;
}
.section-content__link {
    transition: all 0.5s;
    opacity: 1;
}
.section-content__link.fade {
    transition: all 0.5s;
    opacity: 0;
}
.sharks-section .section-content {
    p,
    .h2 {
        transition: all 2s;
    transform: translateX(120%);
    position: relative;
    z-index: 10;
    }
    
    
}
.sharks-section .section-content {
    p.slideShark,
    .h2.slideShark {
        transform: translateX(0);
    }
    
}
.seaweed {
    transform: scale(0.5);
    transition: all 1.5s;
}
.seaweed.scale {
    transform: scale(1);

}
.footer {
    .footer__title,
    .button {
        transform: translateX(-55vw);
        transition: all 2.5s;
    }
}
.footer {
    .footer__title.slide,
    .button.slide {
        transform: translateX(0vw);

    }
}
.mobile-fish {
    display: none;
}
.tr {
    display: none;
}
.footer__copy {
    display: flex;
    align-items: center;
    svg {
        width: 1.111vw;
        margin-right: 0.7vw;
        fill: #2a2c36; 
    }

}
.next-section {
    z-index: 999;
}