@import "variables";


@media only screen and (max-width : 768px) {
    .main-screen {
        background-position: top left -84vw;
        background-size: 256vw;
        min-height: 205vw;
    }
    .left-fisherman,
    .raft,
    .girl-ilend {
        display: none;
    }
    .right-hill {
        width: 63vw;
        top: 62vw;
        right: -11vw;
    }

    .trees {
        top: 102vw;
        left: -80vw;
        width: 244.359vw;
      
    }
    .grass {
        width: 244.615vw;
        left: 50%;
        transform: translateX(-50%);
    }
    .anchor1 {
        height: auto;
    }
    .fisherman {
        width: 235.897vw;
        right: -73vw;
        top: 131vw;
    }
    .left-hill {
        width: 80.769vw;
        top: 29vw;
        left: -52vw;
      
    }
    .tree {
        width: 65.897vw;
        top: 48vw;
        left: -15vw;
        z-index: 100;
    }
    
    .big-fishermen {
        width: 55.641vw;
        top: 105vw;
        left: 6vw;
    }
    .logo {
        top: 6.154vw;
        left: 9.744vw;
        img {
            width: 11.667vw;
        }
        
    }
    
    .main-title {
        margin-left: 8.974vw;
        padding-top: 40.256vw;
        
    }
    .main-title__blue {
        font-size: 5.897vw;
        line-height: 1.3;

    }
    .main-title__big {
        font-size: 12.051vw;
        line-height: 0.7;
    }
    .echt {
        margin-left: 55vw;
        position: relative;
        top: -3vw;
        
    }
    .main-screen__text {
        font-size: 3.846vw;
        width: 80.769vw;
        margin-top: 6vw;
    }
    .main-screen__buttons {
        display: none;
    }
    .menu-btn__row {
        width: 6.923vw;
        height: 0.577vw;
        background: #2A2C36;
        margin-bottom: 1.282vw;
        border-radius: 3vw;
        transition: all 0.3s;
    }
    .menu-btn__row:last-child {
        margin-bottom: 0;
    }
    .menu-btn {
        
    }
    .menu-btn.active {
        .menu-btn__row:last-child {
            display: none;
        }
        .menu-btn__row:first-child {
            transform: rotate(45deg);
            margin-bottom: 0;
            position: relative;
            top: 0.6vw;
        }
        .menu-btn__row:nth-child(2) {
            transform: rotate(-45deg);
            margin-bottom: 0;
        }
    }
    .mobile-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        right: 7.5vw;
        top: 8vw;
        transition: all 0.3s;
        padding: 1.5vw 2.564vw;
        border-radius: 10vw;

    }
    .mobile-menu__text {
        font-size: 3.590vw;
        margin-right: 4vw;
        font-weight: 700;
    }
    .mobile-menu__text {
        display: none;
        text-decoration: none;
        color: #2A2C36;
    }
    .mobile-menu__text:hover {
        color: #2A2C36;
    }
    .mobile-menu.active {
        background: #fff;
        
        .mobile-menu__text {
            display: block;
            
        }
    }
    .bubles {
        transform: translateY(-62%);       
        img {
            width: 90.513vw;
            margin-left: 0vw;
        }
        img:first-child {
            position: relative;
            left: 30%;
            
        }
        img:last-child {
            position: relative;
            left: -30%;
            
        }
    }
    body {
        overflow: visible;
    }
    .bubles {
        transition: all 2s;
        transform: scale(1) translateY(-60%);  
        overflow: hidden;
    }
    
    .bubles.anim {
        transition: all 5s;
        transform: scale(1) translateY(-70%); 
          
        
        
        
    
    }
    .about {
        min-height: auto;
    }
    .all-content {  
        background: url('../img/mobile-bg.svg');
        background-size: cover;
    }
    .line,
    .line2,
    .line3,
    .line4,
    .line.normalHeight,
    .line2.normalHeight,
    .line3.normalHeight,
    .line4.normalHeight {
        height: calc(50% - 4vw);
        left: 5.590vw;
        width: 0.513vw;
        transition: all 0.5s;
        top: 0;
    }
    .line-mobile {
        left: 5.30vw;
        position: absolute;
        bottom: 0;
        height: calc(50% - 10vw);
        width: 0.6vw;
        background: #2A2C35;

    }
    .next-section {
        display: none;
    }
    .hooks {
        display: none;
    }
    .line__text {
        left: 0;
        transform: translateX(4%) rotate(-90deg);
        font-size: 3.846vw;
       
        

    }
    // .line__text:before {
    //     content: '';
    //     width: 50%;
    //     height: 1vw;
    //     background: red;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }
    .section-content {
        width: 100%;
    }
    .anchor2,
    .anchor3,
    .anchor4 {
        padding-left: 9.744vw;
    }
    .about {
        padding-top: 16.154vw;
        padding-bottom: 49.744vw;
    }
    .h2 {
        font-size: 7.692vw;
        margin-bottom: 8.974vw;
        margin-bottom: 5.128vw;
    }
    .section-content__text {
        font-size: 4.103vw;
        p {
            margin-bottom: 6.410vw;
        }
    }
    .section-content__link {
        span {
            display: none;
        }
        img {
            margin-left: 2.821vw;
        }
    }
    .aquawomen {
        width: 53.333vw;
        top: 109vw;
        left: 41vw;
        opacity: 0.33;
    }
    .fish {
        width: 28.974vw;
        top: 192vw; 
        left: 25vw;
        opacity: 0.5;
    }
    .fishes {
        left: -125vw;
        top: 200vw;
        width: 220.486vw;
    }
    .slideRight {
        transform: translateX(0);
    }
    .anchor3 {
        overflow: hidden;
    }
    .why-section .section-content,
    .sharks-section .section-content {
        width: 100%;
    }
    .slideWhy {
        transform: translateX(0);
    }
    .bubles {
        overflow: hidden;
        width: 100%;
        left: 0;
        
    }
    .bubles.anim {
           overflow: hidden;
        width: 100%;
    }
    
    .anchor2 {
        overflow: hidden;
       
    }
    .main-screen {
        overflow: hidden;
    }
    .why-section {
        padding-right: 4.306vw;
    }
    .why-section .section-content.slideWhy {
        transform: translateX(0);
    }
    .why-section .section-content {
        transform: translateX(0);
    }
    .loop {
        width: 120vw;
        right: -76vw;
        top: 45vw;
        opacity: 0.71;
    } 
    .why-section {
        background: url('../img/rock.svg');
        background-repeat: no-repeat;
        background-position: right -26vw top 50vw;
        padding-bottom: 40vw;
    }
    .loop-fish {
        width: 210vw;
        top: 133vw;
        left: 11vw;
    }
    .ho,
    .sharks,
    .rif-fish,
    .sharks-fishes{
        display: none;
    }
    .sharks-section .section-content p,
    .sharks-section .section-content .h2 {
        transform: translateX(0);
    }
    .mobile-fish {
        display: block;
        position: absolute;
        right: 0;
        top: 55vw;
        width: 60vw;
    }
    .line-mobile {
        z-index: 10;
    }
    .line4 {
        display: none;
    }
    .anchor4 {
        padding-bottom: 28.205vw;
        .line-mobile {

            bottom: -2.5vw;
            height: calc(51.5% - 10vw);
        }
    }

    .anchor3,
    .anchor4 {
        min-height: auto;
    }
    .rif1 {
        position: absolute;
        bottom: -21.125vw;
        left: -67.042vw;
        width: 158vw;
    }
    
       .rif1 {
    position: absolute;
    bottom: -25.125vw;
    left: -67.042vw;
    width: 172vw;
    }
    .seaweed {
        transform: scale(0.9);
    }
    .hedgehog-fish {
        display: none;
    }
    .footer .footer__title,
    .footer .button {
        transform: translateX(0);
    }
    .footer .footer__title {
        font-size: 9.487vw;
        line-height: 1.2;
        padding-top: 15vw;
        max-width: 45vw;
        color: #065C78;
    }
    .footer {
        height: auto;

        background-image: url('../img/mb-b.svg');
        background-size: 234vw;
        background-position: left -90vw top;
    

    }
    .line__text {
        z-index: 999;
    }
    .treausers {
        top: 40vw;
    }
    .line3 {
        z-index: 999;
    }
    .anchor4 .line-mobile {

        height: calc(53.7% - 10vw);
        bottom: -7vw;
        
    }
    .footer__content p {
        font-size: 4.615vw;
        width: 100%;
        margin-top: 2.615vw;
        color: #065C78;
    }
    .footer__content {
        width: 100%;
    }
    .footer {
        .button {
            background: transparent;
            width: auto;
            justify-content: flex-start;
            font-size: 4.103vw;
            color: #065C78;
            text-transform: capitalize;
            margin-top: 7.692vw;
            font-weight: 400;
        }
    }
    .tr {
        display: block;
        width: 2.5vw;
        margin-left: 2vw;
    }
    .footer {
        padding-bottom: 7.692vw;
    }
    .footer__bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        font-size: 3.590vw;
        color: #065C78;
    }
    .footer__menu {
        flex-direction: column-reverse;
        display: flex;
    }
    .footer__link {
        margin-left: 0;
        margin-top: 5.128vw;
        color: #065C78;
    }
    .footer__copy {
        margin-top: 16.410vw;
        svg {
            width: 4.103vw;
            fill: #065C78;
        }
    }
    .footer__menu {
        margin-top: 6vw;
    }
    .treausers {
        width: 57.949vw;
        top: 124vw;
        right: 10vw;
    }
    .seaweeds-wrapper {
        bottom: 100vw;
        height: 90vw;
    
    }
    .seaweeds2 {
        bottom: 0;
        right: 1vw;
    }
    .all-content {
        overflow: hidden;
    }
    .seaweed {
        top: 7vw;
    }
    .section-content__link {
        text-decoration: underline;
    }
    .sub-title {
        font-size: 4.103vw;
    }
    .scroll {
        display: none;
    }
     
}